* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 1000px;
}
.map-video {
    display: flex;
    height: 75vh;
    background-color: chocolate;
}
.map {
    width: 50%;
}
.video {
    width: 50%;
}
.card-section {
    padding-top: 5rem;
}
.row {
    display: flex;
    gap: 2.6rem;
}
.item {
    background-color: brown;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    text-align: center;
}
.item h2 {
    color: #fff;
    font-size: 1.8rem;
}
.item p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
}
button {
    padding: 0.6rem 1.6rem;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer;
}